  <div class="ui inverted vertical black footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="/admin/about/" class="item">About VCoin</a>
            <a href="#" class="item">Sitemap</a>
            <a href="/admin/contact/" class="item">Contact Us</a>
            <a href="#" class="disabled item">Gazebo Plans</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="disabled item">Inscription</a>
            <a href="/admin/faq/" class="item">FAQ</a>
            <a href="#" class="disabled item">How To Access</a>
            <a href="/organisation/teal/" class="item">VCoin is a Teal organisation</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">What VCoin is <strong>not</strong></h4>
          <h5>VCoin, not your “bank of mom and dad”.</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="ui demo page dimmer">
    <div class="content">
      <div class="center"><h2 class="ui inverted icon header"><i class="mail icon"></i>Dimmer Message<br/><span class="sub header">Dimmer sub-header</span></h2></div>
    </div>
  </div>
