<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item" href="/">Home</a>
    <a class="item" href="/engineering/">Engineering</a>
    <a class="item" href="/social/">Social</a>
    <a class="item" href="/organisation/">Organisation</a>
    <a class="item" href="/news/">News</a>
    <div class="right menu">
      <div class="item">
        <a class="ui disabled button">Log in</a>
      </div>
      <div class="item">
        <a class="ui disabled primary button">Sign Up</a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item" href="/">Home</a>
  <a class="item" href="/engineering/">Engineering</a>
  <a class="item" href="/social/">Social</a>
  <a class="item" href="/organisation/">Organisation</a>
  <a class="item" href="/news/">News</a>
  <a class="disabled item">Login</a>
  <a class="disabled item">Signup</a>
</div>


