<script type="text/javascript" src="/assets/js/plugins/jquery.humane_dates.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/library/easing.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/library/typing.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/js-beautify/beautify.js"></script>
<script type="text/javascript" src="/assets/js/vendor/js-beautify/beautify-html.js"></script>
<!-- <script type="text/javascript" src="/assets/js/scripts.min.js"></script> -->
<script>
  window.less = {
    async        : true,
    environment  : 'production',
    fileAsync    : false,
    onReady      : false,
    useFileCache : true
  };
</script>
<script src="/assets/js/vendor/library/less.min.js"></script>
<!--
{{ page.categories }}
-->
<script type="text/javascript">
  var sectns = '{{ page.path }}'.split('/');
  x = sectns.pop();
  var done = false;
  //alert(sectns);
  for (var sectn in sectns) {
    var idstr = sectns[sectn];
    $('#'+idstr).addClass('active');
    $('index'+sectn).removeClass('active');
  };
  // sgvizler.containerDrawAll("ex");
  $('.ui .item').on('click', function() {
    $('.ui .item').removeClass('active');
    $(this).addClass('active');
  });
  $('.long.test.modal').modal('attach events', '.test.button', 'show');
  $('.ui.modal').modal();
  $('.ui.long.test.modal').modal();
  $("#autocomplete").autocomplete({
    prompt: "", source: "/coin/symbol"});
  $('time').humaneDates();
  $('.accordion').accordion();
  /* beautify all code with class="raw" */
  $('.raw').each(function() {beautify(this)});
  $('.tabular.menu .item').tab();

  /*
  var reloadBackgroundImage = function() {
    var url = "/assets/images/graphics/background.png?rand=" + Math.random();

    var img = new Image();
    img.onload = function() {
      jQuery("body.custom-background").css("background-image", 'url("' + url + '")');
    }
    img.src = url;
  };
  reloadBackgroundImage()
  window.setInterval(reloadBackgroundImage, 2000);
  */
</script>


{% if page.comments %}
  {% include _disqus_comments.html %}
{% endif %}
