<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style type="text/css">
.masthead.segment { min-height: 200px; }
.masthead h1.ui.header { margin-top: 0.3em; }
.ui.text.container { max-width: none !important; }
</style>
</head>

<body id="vcoin" class="index">

  <noscript>
    <div class="noscript">
    Your browser settings show that JavaScript is disabled. (Good call, we too browse with javascript disabled). If you enable it for this site, you’ll get the full benefit of the user-oriented enhancements: nice fonts, drop-down menus, active tabs and the like. We recommend that you turn on Javascript and then refresh this page. <a href="http://www3.qwest.com/cgi-bin/qwest.cfg/php/enduser/std_adp.php?p_faqid=1095" target="_blank">How do I turn on Javascript?</a>
    </div>
  </noscript>


{% include _browser-upgrade.html %}
{% include _navigation.html %}

<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <img src="/assets/images/vcoin.svg" class="navicon"/>
        <a id="home" class="item" href="/">Home</a>
        <a id="engineering" class="item" href="/engineering/">Engineering</a>
        <a id="social" class="item" href="/social/">Social</a>
        <a id="organisation" class="item" href="/organisation/">Organisation</a>
        <a id="news" class="item" href="/news/">News</a>
        <div class="right item">
          <a class="ui disabled inverted button">Log in</a>
          <a class="ui disabled inverted button">Sign Up</a>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        Engineering
      </h1>
      <p><em>“There are no prima donnas in engineering.”</em> ― Freeman Dyson</p>
    </div>

  </div>

  <div class="container">
    <div class="ui sub secondary pointing menu">
      <a id="active index" class="item" href="/engineering/">Index</a>
      <a id="specs" class="item" href="/engineering/specs/">Technical specs</a>
      <a id="charts" class="item" href="/engineering/charts/">Charts</a>
      <a id="design" class="item" href="/engineering/design/">Design notes</a>
      <a id="roadmap" class="item" href="/engineering/roadmap/">Roadmap</a>
      <a id="electrum" class="item" href="/engineering/electrum/">Electrum</a>
      <a id="keybar" class="item" href="/engineering/keybar/">Key Bar</a>
    </div>
  </div>

  <!-- <div class="ui vertical stripe segment">
    <div class="ui text container">
    -->
    {{content}}
  <!--
    </div>
  </div>
  -->

  <footer>
    {% include _footer.html %}
  </footer>

  {% include _scripts.html %}

</body>
</html>